%h2 新しい面接日程を指定してください

= form_with url: user_interviews_url, method: :post, local: true do |f|
  = f.datetime_select :begin_at, class: 'form-control'
  = f.hidden_field :allowed, value: 'undecided'
  %br
  %br
  = f.submit '追加', class: 'btn btn-primary', data: { disabled_with: '追加中...' }
