%p
  =@interviewer.name.present? ? @interviewer.name : @interviewer.email
  様
%p
  CC:
  =@interviewee.name.present? ? @interviewee.name : @interviewee.email
%br
%p お世話になっております、e-Navigatorです。
%p
  =@interviewee.name.present? ? @interviewee.name : @interviewee.email
  様の面接希望日程が決まりました。
%p
  下記URLから日時の承認をしてください。
%p
  =link_to((@interviewee.name.present? ? @interviewee.name : @interviewee.email).to_s+'の面接希望日程一覧', 'https://e-navigator-terunori.herokuapp.com/users/'+@interviewee.id.to_s+'/interviews')
%br
%p
  よろしくお願い致します。
%br
  =render :partial => 'signature'
